html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), local("Roboto-Bold"),
        url("../fonts/RobotoBold.woff2") format("woff2"),
        url("../fonts/RobotoBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"),
        url("../fonts/RobotoRegular.woff2") format("woff2"),
        url("../fonts/RobotoRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Medium"),
        url("../fonts/RobotoMedium.woff2") format("woff2"),
        url("../fonts/RobotoMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("OpenSans Regular"), local("OpenSans-Regular"),
        url("../fonts/OpenSansRegular.woff2") format("woff2"),
        url("../fonts/OpenSansRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: local("OpenSans Bold"), local("OpenSans-Bold"),
        url("../fonts/OpenSansBold.woff2") format("woff2"),
        url("../fonts/OpenSansBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: "Open Sans";
    src: local("OpenSans SemiBold"), local("OpenSans-SemiBold"),
        url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
        url("../fonts/OpenSansSemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary_1: #F91155;
    --primary_2: #FF4B77;
    --primary_3: #D8003F;
    --secondary: #3C3E43;
    --accent: #FF7647;

    --gradient: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0, #0a2240 100%);
    --gradient_2: linear-gradient(180deg, rgba(222, 237, 255, 0.6) 0, rgba(166, 204, 250, 0.5) 100%);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background: url('../img/content/background_1280.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 153%;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.rooms__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 39px;
}

.rooms__card {
    position: relative;
    width: 372px;
    min-height: 372px;
    overflow: hidden;
    border-radius: 10px;
    background: var(--gradient);
    background-color: #2d507c;
    transition: box-shadow 0.3s ease-in-out;
}

.rooms__card:hover,
.rooms__card:active {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.6);
}

.rooms__card-reserved {
    cursor: pointer;
}

.rooms__card-reserved:hover {
    box-shadow: none;
}

.rooms__pic {
    position: absolute;
    display: flex;
    width: auto;
    height: 100%;
}

.rooms__pic::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 372px;
    background: var(--gradient);
    border-radius: 10px;
}

.rooms__card-reserved .rooms__pic::before {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), var(--gradient);
}

.rooms__img {
    width: 372px;
    height: auto;
}

.rooms__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.rooms__badge {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    display: flex;
    max-width: calc(100% - 48px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.rooms__card-reserved .rooms__badge {
    display: none;
}

.rooms__card:hover .rooms__badge {
    opacity: 1;
}

.rooms__discount {
    padding: 4px 4px 5px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    color: #ffffff;
    border-radius: 3px 0 0 3px;
    background-color: var(--accent);
}

.rooms__badge-icon {
    flex: none;
    width: 36px;
    color: var(--accent);
    fill: currentColor;
}

.rooms__title {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #ffffff;
}

.rooms__title-link {
    position: relative;
    transition: border-bottom 0.3s ease-in-out;
}

.rooms__title-link:hover {
    border-bottom: 1px solid #ffffff;
}

.rooms__title-link:active {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: none;
}

.rooms__card-reserved .rooms__title {
    pointer-events: none;
}

.rooms__descr {
    position: relative;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
}

.rooms__card-reserved .rooms__descr::after {
    display: none;
}

.rooms__descr::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 323px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.rooms__booking {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 19px 24px 20px 24px;
}

.rooms__card-reserved .rooms__booking {
    display: none;
}

.rooms__price {
    width: 125px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
}

.rooms__price--high {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    line-height: 126%;
}

.rooms__price-value {
    font-family: "Roboto", sans-serif;
    margin-left: 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: var(--primary_2);
}

.rooms__price-currency {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 139%;
    color: #999999;
}

.rooms__btn {
    max-width: 180px;
    min-height: 48px;
    padding: 9px 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
    background-color: var(--primary_1);
    border-radius: 5px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.rooms__btn:hover {
    background-color: var(--primary_3);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}

.rooms__btn:active {
    color: #f9637c;
    background-color: var(--primary_3);
}

.rooms__reserved-unreserved {
    display: none;
    z-index: 1;
}

.rooms__card-reserved .rooms__reserved-unreserved {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 96px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondary);
    border-radius: 0 0 10px 10px;
}

.rooms__reserved-text {
    width: 170px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
}

.rooms__reserved-text-link {
    position: relative;
    font-weight: 600;
    color: var(--primary_2);
}

.rooms__reserved-text-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--primary_2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.rooms__reserved-text-link:hover::after {
    opacity: 1;
}

.rooms__reserved-text-link:active {
    color: #ff97b0;
}

.rooms__reserved-text-link:active::after {
    opacity: 0;
}


@media (max-width: 1279px) {
    .page {
        background: url("../img/content/background_768.svg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        max-width: 730px;
    }

    .title {
        margin-top: 27px;
        margin-bottom: 26px;
    }

    .rooms__cards {
        gap: 28px;
        max-width: 730px;
        margin-bottom: 28px;
    }

    .rooms__card {
        width: 336px;
        min-height: 420px;
        margin-bottom: 10px;
    }

    .rooms__pic::before {
        width: 336px;
    }

    .rooms__descr::after {
        width: 288px;
    }

    .rooms__booking {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 24px;
    }

    .rooms__details {
        margin-bottom: 15px;
    }

    .rooms__coast {
        margin-bottom: 15px;
    }

    .rooms__btn {
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .page {
        height: auto;
        background: url("../img/content/background.svg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        max-width: 318px;
    }

    .title {
        margin-top: 21px;
        margin-bottom: 27px;
        font-size: 24px;
        line-height: 133%;
        font-weight: 700;
    }

    .rooms__cards {
        gap: 32px;
        max-width: 288px;
        margin-bottom: 50px;
    }

    .rooms__card {
        width: 288px;
        min-height: 347px;
        margin-bottom: 0;
        border-radius: 13px;
    }

    .rooms__pic::before {
        width: 288px;
    }

    .rooms__title {
        margin-left: 21px;
        margin-right: 21px;
        font-size: 20px;
        line-height: 130%;
    }

    .rooms__descr {
        margin-left: 21px;
        margin-right: 21px;
        font-size: 14px;
    }

    .rooms__descr::after {
        width: 246px;
    }

    .rooms__booking {
        margin-left: 21px;
        margin-right: 21px;
        margin-bottom: 21px;
    }

    .rooms__details {
        margin-bottom: 16px;
    }

    .rooms__price {
        width: 103px;
        font-size: 14px;
    }

    .rooms__price--high {
        font-size: 17px;
        line-height: 141%;
    }

    .rooms__price-value {
        font-size: 20px;
        line-height: 160%;
    }

    .rooms__price-currency {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        line-height: 160%;
    }

    .rooms__btn {
        min-height: 42px;
        font-size: 14px;
        line-height: 171%;
    }
}